<style>
  .btn-search {
    background-color: #fe424d !important;
    border-radius: 50%;
    font-size: small;

  }

  .btn-search:hover {
    background-color: #fe424d !important;
    }
    .search-box{
      border-radius: 50px;
    }

  .search-container {
    border-radius: 50px;
    border: 1px solid #00000067;
    padding: 0.5rem;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/listings">Explore</a>
      </div>


      <div class="navbar-nav search-container  ms-auto">
        <form class="d-flex" role="search" action="/listings" method="get">
          <input class="form-control me-2 search-box" type="search" placeholder="Search by country" aria-label="Search" name="query">
          <button class="btn btn-search" type="submit"><i class="fa-solid fa-magnifying-glass"
              style="color: #ffffff;"></i>
          </button>
        </form>
      </div>


      <div class="navbar-nav ms-auto">
        <a class="nav-link mt-2" href="/listings/new">Airbnb your home</a>
        <% if(!currUser) { %>
          <a class="nav-link active mt-2" aria-current="page" href="/signup"><b>Sign up</b></a>
          <a class="nav-link mt-2" href="/login"><b>Log in</b></a>
          <% } %>
            <% if(currUser){ %>
              <p class="nav-link mt-2">
               <b> <%= currUser.username.toUpperCase() %>,</b>
              </p>
              <a class="nav-link mt-2" href="/logout">Log out</a>
              <% } %>

      </div>
    </div>
  </div>
</nav>